<%- include('partials/header', {title: meta.title}) %>
  <a href="/">&larr; Back to Home</a>
  <hr>
  <h1><%= meta.title %></h1>
  <p><em>By <%= meta.author %> on <%= meta.date %></em></p>
  <div class="post-content">
    <%- content %>
  </div>
<%- include('partials/footer') %>